<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
        </div>
        <div class="f-info-company">
            &#169; 2024 Wonderlust,Inc.
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/Terms">Terms</a>
            <a href="/sitemap">Sitemap</a>
            <a href="/details">Company details</a>
        </div>
    </div>
</footer>