<div class="mb-3 ">
    <hr>

    <div class="container">
        <div class="row p-3">
                <div class="mb-5 mt-5 text-center">
                    <h1 style="font-size: 48px;">Benefits for all</h1>
                    <p class="mt-5">The Traveler platform offers advantages for property providers listing accommodations as well as travelers booking stays.</p>
                </div>
                <div class="row p-3">
                    <div style="background-color: #EDF9FD; border-radius: 5px;" class="col-sm-12 col-lg-5 col-md-6 p-5 mt-5">
                        <h1 style="font-size: 32px; ">
                            <i style="color: #1FB2E5;" class="fa-solid fa-house"></i>
                            Easy listing
                        </h1>
                        <p class="mt-3 ms-5">Property providers can quickly list rooms, apartments or homes for rental with just a few clicks. Our intuitive dashboard makes listing a breeze.</p>
                    </div>
        
                    <div class="col-2">

                    </div>
                    <div style="background-color: #EDF9FD; border-radius: 5px;"  class="col-sm-12 col-lg-5 col-md-6 p-5 mt-5">
                        <h1 style="font-size: 32px; ">
                            <i style="color: #1FB2E5;" class="fa-solid fa-gauge"></i>
                            Manage bookings
                        </h1>
                        <p class="mt-3 ms-5">The provider dashboard allows managing all bookings and listings in one place. Confirm or decline booking requests, update availability and more.</p>
                    </div>

                </div>
                <div class="row p-3">
                    <div style="background-color: #EDF9FD; border-radius: 5px;" class="col-sm-12 col-lg-5 col-md-6 p-5 mt-5">
                        <h1 style="font-size: 32px; ">
                            <i style="color: #1FB2E5;" class="fa-solid fa-money-bill"></i>
                            Get paid easily
                        </h1>
                        <p class="mt-3 ms-5">Our integrated payments system allows property providers to easily collect payments from travelers. Funds are transferred securely and quickly after the traveler's stay.</p>
                    </div>
                    <div class="col-2">

                    </div>
                    <div style="background-color: #EDF9FD; border-radius: 5px;"  class="col-sm-12 col-lg-5 col-md-6 p-5 mt-5">
                        <h1 style="font-size: 32px; ">
                            <i style="color: #1FB2E5;" class="fa-solid fa-magnifying-glass-location"></i>
                            Book easily
                        </h1>
                        <p class="mt-3 ms-5">Travelers can search listings by location and dates, book accommodations in just a few clicks and make secure payments through the Traveler platform.</p>
                    </div>

                </div>
        </div>
    </div>
</div>

<div class=" mt-5 p-5" style="background-color: #EDF9FD;">
    <div class="container">
    <div class="row">
    
        <div class="col-3 p-5">
    
        </div>
        <div class="col-lg-6 col-sm-10 p-3 text-center">
            <h1 class="text-center">User-friendly interface for travelers to search, compare prices and availability, and book lodgings ranging from hotels to homestays.</h1>
            <p>Provider dashboard allows hosts to easily manage their listings by adding new places, editing details, uploading photos, setting pricing and availability, and handling booking requests and payments.</p>
        </div>
        <div class="col-3 p-5">
    
        </div>
    </div>
    </div>
    </div>