
<style>
.dropdown-menu{
  width: 200px;
  margin-top: 20px !important;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2) , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.search-btn{
  background-color: #fe424d;
  color: #fff;
  border-radius: 25px;
}
.search-btn:hover{
  background-color: #fe424d;
  color: #fff;
}
.search-btn i{
  display: inline;
  margin-right: 0.5rem;
  
}
.me-2{
  border-radius: 25px;
}
</style>
<nav class="navbar navbar-expand bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand " href="/listings"><i class="fa-brands fa-airbnb"></i></a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-link" href="/listings">Explore</a>

            <a class="nav-link" href="/listings/new">Wonderlust your home</a>
        </div>
<div class="navbar-nav ms-auto">
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search destination" aria-label="Search">
    <button class="btn search-btn" type="submit"><i class="fa-brands fa-searchengin"></i>search</button>
   
  </form>
</div>
        <div class="navbar-nav ms-auto" aria-labelledby="navbarDropdownMenuLink">
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <img style="width: 50px; height: 50px ; border-radius: 50%;" src="/image/images.png" alt="">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <% if(!currUser) {%>
              <li><a class="dropdown-item" href="/user/login">Login</a></li>
              <li><a class="dropdown-item" href="/user/register">Sign Up</a></li>
              <hr>
              <a class="nav-link" href="/listings/new">Wonderlust your home</a>
              <% } %>
              <% if(currUser) {%>
              <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <a class="dropdown-item" href="/user/logout">Logout</a>
              <% } %>
            </ul>
          </li>
        </div>
      </div>
    </div>
  </nav>

 <script src="/Js/map.js"></script>

